/***GENERAL***/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Acme', sans-serif;
  font-size: 15px;
}

p {
  padding: 0;
  margin: 0;
}

/***FIRST SECTION***/
#first_section {
  background-color: #F75A5A;
  padding: 20px 20px 0;
  color: #fff;
}

#first_section input {
  margin-right: 20px;
}

#totalAmount {
  margin-top: 20px;
  margin-left: 60px;
  display: inline-block;
}

/***SECOND SECTION***/
#second_section {
  background-color: #EC8F8F;
  display: flex;
  flex-direction: row;
  padding: 20px;
  color: #fff;
}

.rooming {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rooming label {
  text-align: right;
}

.rooming input {
  width: 60px;
  margin-left: 15px;
}

.list {
  display: flex;
  flex-direction: column;
}

.list input {
  margin: 0 15px;
}

/***TABLE***/
#resumeTable {
  padding: 20px;
  background-color: #F0CECE;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}
